*
{
margin:0px 0px 0px 0px;
}


body
{
    background: url('../images/bg.jpg');

}

.icon {
    width: 64px;
    height: 84px;
	margin:10px 10px 10px 10px;
    position: absolute;
	
}

.icon .img {
    width: 64px;
    height: 64px;
}

.icon .text {
    width: 64px;
    height: 20px;
    text-align: center;
    color:white;
}
.icon.active {
    border: 1px double black;
}

.win
{
    width:400px;
    height:200px;
    top:100px;
    left:200px;
    border:1px solid black;
    position:absolute;
    border-radius: 7px;
    border-radius: 7px;
}
.winTop
{
    height:15%;
    text-align:center;
    background:url('../images/bgStart.png');
    color:white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.winText
{
    height:85%;
    width:98%;
    background:url('../images/bgStart.png');
    padding:0 1%;
    cursor:move;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.embwinText
{
    height:98%;
    width:100%;
    background:white;
    cursor:default;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.winButton
{
	width:21px;
	height:21px;
	float:right;
	border:1px solid black;
	margin:3px 3px 0px 0px;
	background:#acacac;
}

.winClose
{
	background:#ac0000;
    cursor:pointer;
}

.img .img
{
    background: url(../images/page.png) no-repeat top left;
}

.imgimgIcon
{
    background: url(../images/page.png) no-repeat top left;
    width:30px;
    height:28px;
    float:left;
}

.music .img
{
    background: url(../images/music.png) no-repeat top left;

}

.musicimgIcon
{
    background: url(../images/itunesIcon.png) no-repeat top left;
    width:30px;
    height:28px;
    float:left;
    cursor:pointer;
    margin:0px 0px 3px 0px;

}

.text .img
{
    background: url(../images/text.png) no-repeat top left;
}

.textimgIcon
{
    background: url(../images/textIcon.png) no-repeat top left;
    width:30px;
    height:28px;
    float:left;
    cursor:pointer;
    margin:0px 0px 3px 0px;

}

.panelStart
{
    height:30px;
    width:100%;
    position: absolute;
    bottom:0;
    background:url('../images/bgStart.png');
}

.panelStart .buttonStart
{
 	width:30px;
	height:30px;
	background:url('../images/bStart.png');
	float:left;

}

.buttonStart:hover .menuStart
{
    margin:-253px 0px 0px 0px;
    width:240px;
    height:220px;
    border:2px solid #acacac;
    background:url('../images/bgStart.png');
    padding:50% 0px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.buttonStart:hover .embmenuStart
{
    border-radius:5px;
    width:150px;
    height:220px;
    border:2px solid #acacac;
    background:#ffffff;
}

.buttonStart:hover
{
    background:url('../images/bcStart.png');
}

.panelStart .workStart
{
	float:left;
}

.panelStart .oclokStart
{
	width:7%;
	height:100%;
	float:right;
}

.workStart
{
    margin:0px 0px 0px 10px;
	width:500px;
	height:30px;
	float:left;

}

.imgIcon
{
width:30px;
height:26px;
float:left;
border:2px double #aaaaac;
margin: 0px 0px 0px 5px;

}

.buttonStart:hover .close
{
    background:url('../images/close2.png');
    float:left;
    width: 30px;
    height:30px;
    border:1px solid #acacac;
    cursor:pointer;
}
.buttonStart:hover .replay
{
    background:url('../images/replay2.png');
    float:left;
    width: 30px;
    height:30px;
    margin:0px 0px 0px 8px;
    border:1px solid #acacac;
    cursor:pointer;

}
.buttonStart:hover .control
{
   float:right;
   width:80px;
   height:38px;
   margin:-34px 0px 50px 50px;
}

.buttonStart:hover .user
{
    background:url('../images/user.png');
    float:right;
    width:35px;
    height:35px;
    margin:-222px 24px 50px 50px;
    cursor:pointer;
}

.buttonStart:hover .IM{
    background: url(../images/itunesIcon.png) no-repeat top left;
    float:left;
    width:30px;
    margin:2px 0px 0px 1px;
    height:30px;
}
.PM{
    display:none;
}

.PT{
    display:none;
}
.buttonStart:hover .PM{
    float:left;
    margin:3px 0px 0px 7px;
    display:block;
}

.buttonStart:hover .IT{
    background: url(../images/textIcon.png) no-repeat top left;
    float:left;
    margin:2px 0px 0px 1px;
    width:30px;
    height:30px;

}

.buttonStart:hover .PT{
    float:left;
    margin:3px 0px 0px 7px;
    display:block;
}

.buttonStart:hover .stringText{
    height:32px;
    width:140px;
    margin:5px 0px 0px 5px;
    border:1px solid #ffffff;

}
.stringText:hover
{
    background: #d2d2d2;
    cursor:pointer;
    border-radius: 3px;
    border:1px solid #c2c2c2;


}
.buttonStart:hover .stringMusic{
    height:32px;
    width:140px;
    margin:5px 0px 0px 5px;
    border:1px solid #ffffff;

}
.stringMusic:hover
{
    background: #d2d2d2;
    cursor:pointer;
    border-radius: 3px;
    border:1px solid #c2c2c2;
}

.winMin{
    cursor:pointer;
}

.context
{
    width:100px;
    height:150px;
    background:#acacac;
    position: absolute;
}

.contex
{
    width:150px;
    height:200px;
    background:#ffffff;
    position:absolute;
}


